.container{
	margin:0px;
    padding:0px;
    margin: auto;

}
.header{
	
	display: block;
}



.logo{
	
	display: inline-block;
	width: 10%;
	margin-top: 8%
}

.logodtpesan{
	
	display: inline-block;
	width:6%;
	height: 80px;
	margin-top:50px;
	margin-right: 20%;

}
.logodtkaryawan{
	display:block;
	
	width: 5%;
	height: 75px;
	margin-top: -109px;
	margin-left:20%;

}
.logografik{
	
	display: block;
	width: 7%;
	height: 90px;
	margin-top: 5%;
	margin-right:20%;


}

.logotentang{

	
	display: block;
	display: block;
	width: 6%;
	height: 70px;
	margin-top: -7%;
	margin-left:20%;

}

.teks {
	
	display: block;
	width:12%;
	height: 20px;
	margin-top:-8px;
	margin-right:20%;
	font-family: cursive;
	background-color: cadetblue;
	padding-top:5px;
	padding-bottom:5px;
}
.teksa {
	
	width:12%;
	height: 20px;
	margin-left:20%;
	font-family:cursive;
	background-color: cadetblue;
	padding-top:5px;
	padding-bottom:5px;

}
.teksb{
	
	display: block;
	width:10%;
	height:20px;
	background-color:cadetblue;
	margin-right:20%;
	margin-top:-10px;
	padding-top:5px;
	padding-bottom:5px;
	font-family:cursive;

}

.teksc{
	
	display: block;
	width:10%;
	height:20px;
	background-color:cadetblue;
	margin-left:20%;
	margin-top:-5px; 
	padding-top:5px;
	padding-bottom:5px;
	font-family:cursive;

}
